body{
    font-family: 'Jim Nightshade', cursive;
}

.text-center{
    text-align: center;
}

.image{
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
}

/**Header**/
#logo{
    margin-top:  70px;
    margin-bottom: 50px;
    padding: 0;
}

h1{
    padding-top: 77px;
    padding-bottom: 75px;
    font-size: 120pt;
    color: #102928;
    text-shadow: 5px 5px 3.75px #919191;
}

nav ul{
    margin-bottom: 35px;
    display: flex;
    justify-content: center;
}

nav a{
    font-size: 50px;
    color: black;
    text-decoration: none;
    padding: 0 60px;
}

/**Banner**/
.banner{
    height: 369px;
    margin-top: 0;
}

#bannerImg{
    background-image: url("https://trenidislairblog.files.wordpress.com/2017/10/cropped-purpleflowers1.jpg?w=996&h=264");
}

h2{
    color: white;
    font-size: 90pt;
    text-shadow: 3px 6px 3.25px black;
    padding-top: 139.5px;
}

/**Main**/
.main{
    margin-top: 85px;
}

.container{
    height:  240px;
    width: 877px;
    margin-left: 25%;
}

h3{
    padding-top: 10%;
    color: white;
    font-size: 70pt;
}

#jewleryImg{
    background-image: url("https://trenidislairblog.files.wordpress.com/2017/10/bluependents.jpg?w=663&h=444");
}

#candleImg{
    background-image: url("https://trenidislairblog.files.wordpress.com/2017/10/cupcakecandle.jpg?w=329&h=220");
}

#solidPerfumeImg{
    background-image: url("https://trenidislairblog.files.wordpress.com/2017/10/solidperfume.jpg?w=329&h=220");
}

#printsImg{
    background-image: url("https://trenidislairblog.files.wordpress.com/2017/10/yellowflower.jpg?w=996&h=667");
}

